* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
.header {
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  margin-left: 130px;
}
.navbar h1 {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgba(254, 4, 60, 1);
  align-items: center;
  font-size: 63px;
}
.navbar ul li {
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.icon p {
  margin-left: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.bgrect {
  width: 25%;
  height: 100%;
  background: rgba(254, 4, 60, 1);
  position: fixed;
  z-index: -2;
  right: 0;
  top: 0;
}
.content1 {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35vh;
}

.content1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 63px;
  display: flex;
  color: #2e266f;
}

.form-wrapper {
  display: flex;
  align-items: center;
  width: 700px;
  padding: 15px;
  background: rgb(255, 255, 255);
}

.form-wrapper input {
  width: 450px;
  height: 70px;
  padding: 10px 5px;
  border: 0;
}

.form-wrapper input::-webkit-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  color: #2e266f;
  font-size: 17px;
  opacity: 0.6;
}

.form-wrapper button {
  border: 0;
  cursor: pointer;
  height: 70px;
  width: 220px;
  font-size: 27px;
  color: #fff;
  background: #fe043c;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  border-radius: 90px 0 0 0;
}

.dish1 {
  position: absolute;
  right: 0;
}
.location {
  position: absolute;
  left: 0;
  top: 80vh;
}
.page1 {
}
/* .page2{
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}
.title{
  display: flex;
  align-items: center;
  width: 500px;
}
.title p{
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 38px;
  color:#2E266F;
  margin-left: 25px;
}
.rect1{
  width: 50px;
  height: 140px;
  background: #FE043C;
}
.firewater{
  height: 500px;
  width: 500px;
  background: url(../img/fire\ water.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text1{
  height: 40%;
  background: #FE043C;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  width: 100%;
   
}
.text1 h2{
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 25px;
  color:#ffffff;
  margin-left: 37px;
  margin-top: 25px;
}
.firewatertxt{
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 12px;
  color:#ffffff;
  margin-top: 12px;
  margin-left: 37px;
  width: 250px;
}
.firewaterlocation{
  display: flex;
  align-items: center;
  margin-left: 37px;
  margin-top: 12px;
}
.firewaterlocation p{
  margin-left: 6px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
}
.firewaterrect{
  background-color:#ffffff ;
  color: #FE043C;
  width: 187px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px 0 0 100px;
  position: absolute;
  right: 0;
  bottom: 27px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  font-size: 27px;
}
.wonton{
  height: 500px;
  width: 500px;
  background: url(../img/wonton.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 30px;
}
.text2{
  height: 40%;
  background: #FE043C;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  width: 100%;
   
}
.text2 h2{
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 25px;
  color:#ffffff;
  margin-left: 37px;
  margin-top: 25px;
}
.wontontxt{
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 12px;
  color:#ffffff;
  margin-top: 12px;
  margin-left: 37px;
  width: 250px;
}
.wontonlocation{
  display: flex;
  align-items: center;
  margin-left: 37px;
  margin-top: 12px;
}
.wontonlocation p{
  margin-left: 6px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
}
.wontonrect{
  background-color:#ffffff ;
  color: #FE043C;
  width: 187px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px 0 0 100px;
  position: absolute;
  right: 0;
  bottom: 27px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  font-size: 27px;
}
.meals{
  display: flex;
  margin-top: 100px;
  position: absolute;
  left: 0;
  align-items: center;
}
.content2{
  width: 85%;
  margin: 0 auto;
}
.meals img{
  margin-left:50px ;
}
.page3{
  width: 100%;
  height: 1000px;
  margin-top: 750px;
  position: relative;
  display: flex;
  align-items: center;
}
.content3{
  display: flex;
  margin: 0 auto;
  width: 550px;
  height: 400px;
  position: relative;
  flex-direction: column;
}
.rectpage3{
  height: 15px;
  width: 200px;
  background-color: #FE043C;
  margin: 0 auto;
}
.booking{
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #2E266F;
  margin: 0 auto;
  margin-top: 10px; */
/* }
.search2{
  margin-top: 40px;
  
}
.search2 .form-wrapper {
  display: flex;
  align-items:center;
  width: 500px;
  padding: 15px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
}
  
.search2 .form-wrapper input {
    width: 450px;
    height: 50px;
    padding: 10px 5px;
    border: 0;   
}

.search2 .form-wrapper input::-webkit-input-placeholder {
  font-family: 'Poppins' sans-serif;
    font-weight: 400;
    color: #2E266F;
    font-size: 17px;
    opacity: 0.6;
}

.search2 .form-wrapper button {
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 180px;
    font-size: 27px;
    color: #fff;
    background: #FE043C;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;   
    border-radius: 0; 
}  
.choice{
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}
.time{
  margin-left: 60px;
}

.guests{
  margin-left: 60px;
}
.date p {
  margin-top: 10px;
  opacity: 0.6;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}

.time p {
  margin-top: 10px;
  opacity: 0.6;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}

.guests p {
  margin-top: 10px;
  opacity: 0.6;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}

.date h3 {
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}
.time h3 {
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}
.guests h3 {
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
}
.salad{
  position:absolute;
  left: 0;
  height: 1300px;
}
.spinat{
  position: absolute;
  right: 0;
  height: 600px;
  width: 400px;
}
.page4{
  width: 100%;
  height: 1000px;
  margin-top: 120px;
}
.content4{
  position: relative;
}
.title2{
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.recttitle{
  width: 20px;
  height: 150px;
  background-color: #FE043C;

}
.title2 p{
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  color: #2E266F;
  font-size: 50px;
  margin-left: 30px;
}
.serv1{
  display: flex;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 400px;
}
.atb{
  width: 398px;
  height: 60px;
  order: 2;
  margin-left: 50px;
}
.serv2{
  display: flex;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 730px;
}
.fff{
  width: 515px;
  height: 62px;
}
.iconserv{
  margin-left: 50px;
}
.serv3{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column; 
  position: absolute;
  right:300px;
  top:400px ;
}
.serv3img{
  margin: 0 auto;
  margin-top: 30px;
}
.serv3 p{
  margin: 0 auto;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  font-size:25px ;
  color: #2E266F;
  width: 230px;
  margin-top: 30px;
}
.serv3rect{
  width: 250px;
  height: 10px;
  background-color: #FE043C;
  margin: 0 auto;
  margin-top: 20px;
}
.page5{
  width: 100%;
  height: 1200px;
}
.content5{
  width: 100%;

}
.title5{
  margin: 0 auto;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  color: #2E266F;
  font-size: 55px;
  width: 500px;
  margin-top: 30px;
}
.menu{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 30px;
}
.menuone{
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot1{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu1{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price1{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menuone img{
  width: 100%;
  height: 70%;
}
.menutwo{
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu2{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price2{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menutwo img{
  width: 100%;
  height: 70%;
}
.menuthree{
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu3{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price3{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menuthree img{
  width: 100%;
  height: 70%;
}
.menufour{
  margin-top: 30px;
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot4{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu4{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price4{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menufour img{
  width: 100%;
  height: 70%;
}
.menufive{
  margin-top: 30px;
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot5{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu5{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price5{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menufive img{
  width: 100%;
  height: 70%;
}
.menusix{
  margin-top: 30px;
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  border: 2px rgb(165, 153, 153) solid ;
}
.menufoot6{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
}
.namemenu6{
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #2E266F;
  font-size: 20px;
}
.price6{
  margin-top: 15px;
  margin-left: 100px;
  font-family:'Poppins' sans-serif ;
  font-weight: 600;
  color: #FE043C;
  font-size: 20px;
}
.menusix img{
  width: 100%;
  height: 70%;
}
.page6{
  width: 100%;
  height: 1000px;
}
.content6{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.title6{
  height: 35%;
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 200px;
}
.rectpage6{
  width: 30px;
  height: 150px;
  background-color: #FE043C;
}
.title6 p{
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #2E266F;
  margin-left: 20px;
}
.iconsp6{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.apple{
  margin-left: 100px;
}
.korpus{
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 2;
}
.phone{
  position: absolute;
  right: 130px;
  top: 65px;
  z-index: 3;
}
.spinat2{
  position: absolute;
  right: 540px;
  top: 300px;
  z-index: 1;
}
.page7{
  width: 100%;
  height: 1000px;
  border: black 3px solid;
  display: flex;
  align-items: center;
}
.content7{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.content_footer{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content_footer p{
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #2E266F;
  font-size: 40px;
}
.search3{
  border-radius: 150px;
  width: 400px;
  margin: 0 auto;
}
.search3 .form-wrapper1 {
  display: flex;
  align-items:center;
  width: 400px;
  padding: 15px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 150px;
  margin-top: 50px;
  border: 1px solid rgb(134, 124, 124);
  
}
  
.search3 .form-wrapper1 input {
    width: 300px;
    height: 50px;
    padding: 10px 5px;
    border: 0;   
   
    
}

.search3 .form-wrapper1 input::-webkit-input-placeholder {
  font-family: 'Poppins' sans-serif;
    font-weight: 400;
    color: #2E266F;
    font-size: 17px;
    opacity: 0.6;
}

.search3 .form-wrapper1 button {
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 70px;
    font-size: 20px;
    color: #fff;
    background: #FE043C;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;   
    border-radius: 90px; 
}  
.content_footer ul{
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.content_footer ul li a {
  margin-left: 30px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #707070;
  font-size: 20px
}
.content7{
  position: relative;
}
.content7 img{
  position: absolute;
  left: 0;
  bottom: 0;
} */
@media screen and (max-width: 1100px) {
  .header {
  }
  .navbar {
  }
  .navbar h1 {
    font-size: 45px;
  }
  .navbar ul {
    margin-left: 70px;
  }
  .content1 {
    top: 25vh;
  }
  .content1 p {
    font-size: 50px;
  }
  .form-wrapper {
    width: 500px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .form-wrapper button {
    width: 180px;
  }
  .form-wrapper input {
  }
}
